/* STYLESHEET TABLE OF CONTENTS
    1 Setup
        1.1 Fonts
        1.2 Variables
        1.3 General styling
        1.4 Selection
    2 Tags
        2.1 Title
        2.2 Subtitles
        2.3 Links
        2.4 Paragraphs
        2.5 Back button
    3 Sections
        3.1 Top gradient
        3.2 Links
        3.3 Footnotes
    4 Inactive
 */

/* 1.1 Fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/* 1.2 Variables */
:root
{
    --foreground: #ffffffaa;
    --background: #222;
    --inactive: #ffffff40;
    --highlight: #BD8851;

    --gradient: linear-gradient(to right, #659999, #f4791f);
}

/* 1.3 General styling */
html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'Encode Sans', sans-serif;
    background: var(--background);
    color: var(--foreground);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* 1.4 Selection */
::selection
{
    background: var(--highlight);
    color: var(--background);
}

/* 2.1 Title */
h1
{
    font-size: 5rem;
    color: #00000070;
    margin-bottom: 10rem;
    text-shadow: #00000030 0 0 2rem;
    user-select: none;
}

/* 2.2 Subtitles */
h3
{
    max-width: 45rem;
    color: var(--highlight);
    font-size: 1.3rem;
    font-weight: 800;
}

/* 2.3 Links */
a
{
    color: var(--highlight);
    text-decoration: none;
    user-select: none;
}

a:hover
{
    text-decoration: underline;
}

a:active
{
    opacity: .8;
}

/* 2.4 Paragraphs */
p
{
    max-width: 45rem;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

/* 2.5 Back button */
h4
{
    position: absolute;
    top: 2rem;
    left: calc(2rem + 1ch);
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: .3ch;
    text-transform: uppercase;
    color: #00000070;
}

h4::before
{
    content: "< ";
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    margin-right: -.4ch;
}

h4:hover
{
    opacity: .7;
}

h4:active
{
    opacity: .4;
}

/* 3.1 Top gradient */
#gradient
{
    position: relative;
    width: 100vw;
    height: 30rem;
    background: var(--gradient);
    transform: skewY(-5deg) translateY(-15rem);
    margin-bottom: -30rem;
    border-radius: 2rem;
    z-index: -1;
    box-shadow: #00000080 0 0 2rem;
}

/* 3.2 Links */
#links
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

/* 3.3 Footnotes */
#footnotes
{
    font-size: .9em;
    color: var(--inactive);
    margin-bottom: 5rem;
}

/* 4 Inactive */
.inactive
{
    color: var(--inactive);
    cursor: not-allowed;
}

.inactive:hover, .inactive:active
{
    text-decoration: none;
    opacity: 1;
}

.inactive::after
{
    content: "(not complete)";
    font-size: .8em;
    position: relative;
    left: 5px;
    opacity: .7;
}