/* STYLESHEET TABLE OF CONTENTS
    1 Initialisation
        1.1 Fonts
        1.2 Variables
        1.3 Global
    2 Sections
        2.1 Title
        2.2 Content
 */

// 1.1 Fonts
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

// 1.2 Variables
$dark: black; // Placeholder
$light: #ededf4;
$gradient: linear-gradient(to right, #2c3e50, #4ca1af);

// 1.3 Global
*
{
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: $light;
    color: $dark;
}

// 2.1 Title
h1
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: $gradient;
    color: $light;
    font-size: 3rem;
    font-family: 'Shippori Antique', sans-serif;
}

// 2.2 Content
zero-md
{
    margin: 0 auto;
    padding: 3rem;
    width: 58rem;
    background: $light;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba($dark, .1);
    transform: translateY(-5rem);
}