/* STYLESHEET TABLE OF CONTENTS
    1 Initialisation
        1.1 Variables
        1.2 Global
    2 Sections
        2.1 Title
 */

// 1.1 Variables
$dark: black; // Placeholder
$light: #ededf4;
$gradient: linear-gradient(to right, #2c3e50, #4ca1af);

// 1.2 Global
body
{
    background: $light;
    color: $dark;
}

// 2.1 Title
h1
{
    background: $gradient;
}