/* STYLESHEET TABLE OF CONTENTS
    1 Initialisation
        1.1 Variables
        1.2 Fonts
        1.3 Global
    2 Sections
        2.1 Title
        2.2 Content
 */

// 1.1 Variables
@use "values";

// 1.2 Fonts
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

// 1.3 Global
*
{
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: values.$light;
    color: values.$dark;
}

// 2.1 Title
h1
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: values.$gradient;
    color: values.$light;
    font-size: 3rem;
    font-family: 'Shippori Antique', sans-serif;
}

// 2.2 Content
zero-md
{
    margin: 0 auto;
    padding: 3rem;
    width: 56rem;
    background: values.$light;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(values.$dark, .1);
    transform: translateY(-5rem);
}