/* STYLESHEET TABLE OF CONTENTS
    1 Initialisation
        1.1 Imports
        1.2 Global
    2 Info
        2.1 Header
    3 Sections
        3.1 Title
        3.2 Content
 */

// 1.1 Imports
@use "values";

// 1.2 Global
*
{
    margin: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: values.$light;
    color: values.$light;
}

// 2.1 Header
#header
{
    position: absolute;
    left: 50%;
    margin: 1rem;
    transform: translateX(-50%);

    a
    {
        display: block;
        width: 2rem;
        padding-right: 2rem;
        transition: 200ms ease;

        &:hover { filter: opacity(.6); }
        &:active { filter: opacity(.3); }
    }
}

// 3.1 Title
h1
{
    display: grid;
    place-items: center;
    height: 100vh;
    background: values.$gradient;
    font-size: 3rem;
    font-family: 'Shippori Antique', sans-serif;
}

// 3.2 Content
zero-md
{
    margin: 0 auto;
    padding: 3rem;
    width: 56rem;
    background: values.$light;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(values.$dark, .1);
    transform: translateY(-5rem);
}